config/zsh/zsh-completions/
config/zsh/zsh-autosuggestions/
config/zsh/zsh-syntax-highlighting/
config/vifm/vifminfo.json
config/vifm/colors/*
config/vifm/vifminfo
config/zsh/.zcompdump
config/zsh/.zsh_history
config/configstore/update-notifier-npm.json
*.swp
config/ipython/profile_default/history.sqlite
config/ipython/profile_default/db/
config/nvim/undodir/
config/nvim/plugged/
config/vscode/User/globalStorage/
config/vscode/User/syncLocalSettings.json
config/vscode/User/workspaceStorage/
config/nvim/.netrwhist
vim/plugged
vim/autoload/plug.vim
vim/undodir
