**/*zsh_history
**/zsh/.iterm2
**/zsh/.zcompdump
**/zsh/.zsh_sessions

**/*__pycache__
**/*packer_compiled.lua
**/*undodir
**/ipython/profile_default/history.sqlite
**/emacs/elpa
**/emacs/auto-save-list
**/*~

**/*fish_variables
**/*.local.fish
