snippet today "Date"
`date +%F`
endsnippet

snippet () "Parenthesis"
(${0:${VISUAL}})
endsnippet

snippet [] "Brackets"
[${0:${VISUAL}}]
endsnippet

snippet {} "Braces"
{${0:${VISUAL}}}
endsnippet

snippet $$ "Math code"
$${0:${VISUAL}}$
endsnippet

