/* Author: Ethan Rietz 
 * Date: 2020-12-11
 * Description: CSS for vimium with colors stolen from gruvbox
*/

:root {
    --red: #cc241d;
    --green: #98971a;
    --yellow: #d79921;
    --blue: #458588;
    --purple: #b16286;
    --aqua: #689d6a;
    --gray: #a89984;
    --bg0: #282828;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;
    --fg0: #fbf1c7;
    --fg1: #ebdbb2;
    --fg2: #d5c4a1;
    --fg3: #bdae93;
    --fg4: #a89984;
    --orange: #d65d0e
}

iframe.vimiumHUDFrame {
    height: 30px;
    min-height: 30px;
}

div.vimiumHUD {
    /* Search bar at bottom */
    background-color: var(--bg0);
    border-color: var(--purple);
    border-radius: 0;
    border-style: solid;
    border-width: 0 3px 0 0;
    color: var(--aqua);
    font-weight: bold;
    padding: 8px;
    text-shadow: none;
}

/* Link Hints */

div > .vimiumHintMarker {
    background: var(--bg0);
    border-color: var(--purple);
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 0 3px;
    cursor: default;
    padding: 4px;
}

div > .vimiumHintMarker span {
    color: var(--aqua);
    cursor: default;
    font-size: 12px;
    font-weight: bold;
    text-shadow: none;
}

div > .vimiumActiveHintMarker span {
    color: var(--aqua)!important;
}

/* Vomnibar */

#vomnibar {
    /* small strip under search bar */
    background: var(--bg0);
    border-radius: 0;
    box-shadow: none;
}

#vomnibar .vomnibarSearchArea {
    /* border around search bar */
    background-color: var(--bg0);
    border: none;
    border-color: var(--purple);
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 0 4px;
}

#vomnibar .vomnibarSearchArea > input {
    /* search bar background */
    background-color: var(--bg1);
    border: none;
    color: var(--aqua);
}

#vomnibar ul {
    /* big background of search dropdown */
    background-color: var(--bg0);
    border-radius: 0;
}

#vomnibar li {
    /* each result background of search dropdown */
    background-color: var(--bg0);
    border-color: var(--purple);
    border-style: solid;
    border-width: 0;
    margin-top: 10px;
    transition: background-color 0.1s ease;
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
    /* description of search dropdown */
    color: var(--fg0);
}

#vomnibar li em .vomnibarMatch,
#vomnibar li .vomnibarTitle .vomnibarMatch,
#vomnibar li .vomnibarMatch {
    color: var(--aqua);
}

#vomnibar li .vomnibarUrl {
    /* url in search dropdown */
    color: var(--fg2);
}

#vomnibar li.vomnibarSelected {
    /* selected text??? */
    background-color: var(--red);
}
