let g:mapleader = "\<Space>"

set number
set relativenumber
set scrolloff=8

nnoremap <silent> <c-h> <c-w><c-h>
nnoremap <silent> <c-j> <c-w><c-j>
nnoremap <silent> <c-k> <c-w><c-k>
nnoremap <silent> <c-l> <c-w><c-l>

nnoremap <leader><leader> <c-6>