snippet skeleton "Inserts a project skeleton" b
/* headers */
#include <stdio.h>
#include <stdlib.h>
#include <unistd.h>
#include <string.h>

/* macros */
/* types */
/* function declarations */
/* global variables */
/* function definitions */

int
main(int argc, char *argv[])
{
	return EXIT_SUCCESS;
}
endsnippet
